@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<div class="half oski-mb-2 oski-mt-2">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div> 
