@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (ORte)Model.Content;
}
<div class="block-rte">
    @Html.Raw(content.Text.ToHtmlString())
</div>
