@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OSimpleLockPage>
@{
	Layout = "Main.cshtml";
}

<main class="inner-page">
    @await Html.PartialAsync("oskiPartials/OFullScreenTopContainer", Model)
    <div class="content">
        <div class="container">
            @foreach (var content in Model.OPageContent)
            {
                @await Html.PartialAsync($"oskiPartials/{content.GetType().Name}", content, new ViewDataDictionary(ViewData) { { "name", Model.Name } })
            }   
        </div>
    </div>
</main>